.button{
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block:0.75rem;
    border-radius: 1rem;
    font-size: 0.5rem;
}
.primary-button{
    background-color: rgb(211, 45, 73);
    color: white;
}