.button{
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block:0.75rem;
    border-radius: 1rem;
    font-size: 1rem;
    &.primary-button{
    background-color: rgb(211, 45, 73);
    color: white;
    transition: all 0.3s ease-in-out;
}
&:active{
    transform: scale(0.9);
}
}
